<footer class="footer bg-dark py-3 mt-auto">
  <!-- <div class="container">
    <span class="text-muted">&copy;YelpCamp 2022</span>
  </div> -->

  <div class="container">
    <span class="text-muted" id="copyright">
      &copy;
      <script>
        document
          .getElementById("copyright")
          .appendChild(document.createTextNode(new Date().getFullYear()));
      </script>
      YelpCamp
    </span>
  </div>
</footer>
